{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        "syntax-async-functions",
        "add-module-exports",
        "transform-class-properties",
        "transform-runtime",
        "transform-regenerator"
    ]
}
